{% extends "base.html" %}
{% block title %}Visual{% endblock %}

{% block content %}
<h1 style="font-size: 4rem">Visual Work</h1>
<br>
<p style>Music videos and animations created by or for Figmentarium Animation.</p>
<br>
<br>
<h2 style="text-align: center;">"VHS Night" - Music Video (2023)</h2>"
<p style="text-align: center;">Written and directed by Justin Alton.</p>
<div class="container", style="display: flex; justify-content: center;">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/DL1jZkKJNVw?si=dLKiWb-ee98fRUPw" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
</iframe>

</div>
{% endblock %}