{% extends "base.html" %}

{% block content %}


<!-- <video autoplay muted loop id="background-video">
  <source src="/static/0001-0120.mov" type="video/mp4">
  <style>
    #background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} -->
  </style>
</video>
<h1 style="font-size: 4rem">Figmentarium.com</h1>
<br>
<p style="margin-left: 1em; text-align: center; font-size: 1.5rem;">
    Welcome. This site is an archive of the music, field recordings, and visual work of Figmentarium Animation, est. A.D. 2021. Take a look or listen, or, if you're looking for some pleasant conversation, have a chat with Figment, our beloved mascot.</p>
<div class="container" style="display: flex; justify-content: center;">
</style>
</div>
<form action="signup.php" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <input type="submit" value="Sign Up If You Dare...">
</form>
<audio autoplay>
  <source src="/static/A Piece is Missing.mp3" type="audio/mpeg">
</audio>
<p>Music: "A Piece Is Missing" (2022)</p>
{% endblock %}

