{% extends "base.html" %}
{% block title %}Music{% endblock %}

{% block content %}
  <h1 style="font-size: 4rem">Music</h1>
  <br>
  <h1 style="text-align: center;">Albums</h1>
  <br>
  <h3 style="text-align: center;">The Process of Diffusion (2021):</h3>
  <p style="text-align: center; font-size: 1rem">A folktronic record inspired by nature in all its beauty and mercilessness. The first record under Figmentarium Animation.</p>
  <div class="container">
    <iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/album/7oGF3BgbJglJfdgcGzRewr?utm_source=generator" 
    width="100%" 
    height="352" 
    frameBorder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy">
  </iframe>
  </div>
  <br>
  <br>
  <h3 style="text-align: center;">METAMORPHOSES (2022):</h3>
  <p style="text-align: center; font-size: 1rem">A nature documentary in album form, METAMORPHOSES begins with the unfurling of the cosmic egg into a galactic ballet, and ends with humanity's union with technology and departure into deep space.</p>

  <div class="container">
    <iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/album/2iNvY0MiggIGSt0KcdP5qv?utm_source=generator" 
    width="100%" 
    height="352" 
    frameBorder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy">
  </iframe>
 
  </div>
  <br>
  <br>
  <h3 style="text-align: center;">In Technicolor (2023)</h3>
  <p style="text-align: center;">A psych rock record as imagined in an alternate '60s in which synthesizers have already proliferated across the mainstream. Some inspirations for the album were artists like the Beach Boys, Jimi Hendrix, Love, and Cream, as well as the musique concrete style which found itself gaining favor during this time period.</p>
  <div class="container">
    <iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/album/2akL1wwpkFAEQK8BH1aEiP?utm_source=generator" 
    width="100%" 
    height="352" 
    frameBorder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy">
  </iframe>
  </div>
  <br>
  <br>
  <h3 style="text-align: center;">Surfaces & Essences (2024)</h3>
  <p style="text-align: center;">An album in the style of a virtual reality software created centuries in the future and which seeks to imitate the past, if imperfectly. </p>
  <div class="container">
    <iframe 
    style="border-radius:12px" 
    src="https://open.spotify.com/embed/album/1aAw3wZsLf6lUiIzy98rsl?utm_source=generator" 
    width="100%" 
    height="352" 
    frameBorder="0" 
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy">
  </iframe>
  </div>
  {% endblock %}